html, body {
    margin: 0;
}
@font-face {
    font-family: Luckiest Guy;
    src: url("../fonts/LuckiestGuy-Regular.ttf");
}
@font-face {
    font-family: Open Sans;
    src: url("../fonts/Open_Sans/static/OpenSans-Regular.ttf");
}
@font-face {
    font-family: Open Sans-ExtraBold;
    src: url("../fonts/Open_Sans/static/OpenSans-ExtraBold.ttf");
}
p {
    font-weight: 400;
    letter-spacing: 0%;
    font-family: Open Sans;
    margin: 0px;
    color: #23272A;
}
h2 {
    font-weight: 800;
    letter-spacing: 0%;
    font-family: Open Sans-ExtraBold;
    margin: 0px;
    color: #23272A;
}
figure {
    margin: 0;
}
h1 {
    font-weight: 400;
    letter-spacing: 0%;
    font-family: Luckiest Guy;
    margin: 0px;
    font-size: 2em;
}
.section-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.banner {
    color: white;
    height: auto;
    background-image: url("../images/background-imageHeader.png");
    background-position: 70% bottom;
    background-size: cover;
    display: flex;
    align-items: center;
}
.banner-content {
    margin: 69px 0 69px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 1.5em;
    padding-left: 1.5em;
}
.banner-content p {
    color: white;
}
.banner-content button {
    border-radius: 2rem;
    font-family: Open Sans;
    height: 54px;
}
#divButtons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#buttonBaixar {
    background-color: white;
}
#buttonAbrir {
    background-color: #23272A;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
}
#section1 {
    background-color: white;
    height: auto;
    padding: 2.5em 1.5em 2.5em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.7em;
}
#section2 {
    background-color: #F6F6F6;
    height: auto;
    padding: 2.5em 1.5em 2.5em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.7em;
}
#section3 {
    background-color: white;
    height: auto;
    padding: 2.5em 1.5em 2.5em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.7em;
}
#section4 {
    background-color: #F6F6F6;
    height: auto;
    padding: 2.5em 1.5em 2.5em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.7em;
}

footer {
    background-color: #23272A;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and (min-width: 720px) {
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner-content {
        width: 45em;
    }
    .banner-content h1 {
        width: 313px;
        align-self: center;
        font-size: 3.5em;
        text-align: center;
    }
    #divButtons {
        flex-direction: row;
        width: auto;
        justify-content: center;
    }
    #divButtons button {
        height: 44px;
        border: none;
        padding: 1px 1.5em 1px 1.5em;
    }

    h2 {
        font-size: 2.5em;
    }
    #section1 {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #section-text1 {
        width: 22em;
    }

    #section2 {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #section-image2 {
        order: 2;
    }
    #section-text2 {
        order: 1;
        width: 22em;
    }

    #section3 {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #section-text3 {
        width: 22em;
    }

    #section4 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #section-text4 {
        max-width: 874px;
        width: 100%;
    }
    #section-text4 h1 {
        max-width: 450px;
        align-self: center;
        text-align: center;
    }
    
    footer {
        height: 130px;
    }
}