html, body {
    margin: 0 0 0 0;
}

.banner {
    height: 605px;
    background-image: url("../images/banner.png");
    background: linear-gradient(to bottom, rgba(0,0,0,1.0) 15%, rgba(12,40,52,0.85) 35%, rgba(0,0,0,1.0) 60%),
        url("../images/banner.png");
    display: flex;
    border-bottom: solid 2px #33A8DB;
}
.banner-content {
    width: 510px;
    height: 393px;
    align-self: center;
    text-align: center;
    margin: auto;
}
.banner-content h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
}
.banner-content p {
    width: 400px;
    margin: auto;
}
.banner-content button {
    height: 57px;
    width: 326px;
    margin-top: 40px;
    color: #33A8DB;
    border: 2px solid #33A8DB;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}
h1, h2 {
    background: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content p {
    color: white;
}
.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#course-content {
    height: 325px;
    border-bottom: solid 2px #33A8DB;
    align-items: center;
    justify-items: center;
    padding: 100px 20% 100px 20%;
    background-color: #000000;
    color: white;
}
#course-content h2, #professional-challenges h2 {
    margin-top: 0;
    font-size: 32px;
}
.module {
    width: 535px;
    height: 51px;
    border: 1px solid #33A8DB;
    border-radius: 50px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    text-align: center;
}
.module span {
    color: #33A8DB;
    padding: 0; /* Removendo o padding que estava deslocando o texto */
}

#transform-world {
    height: 363px;
    background-image: url("../images/woman-code.png");
    background-size: cover;
    background-attachment: fixed;
    border-bottom: solid 2px #33A8DB;
    display: flex;
}
#transform-world p {
    margin: auto;
    text-shadow: 4px 2px 2px #33A8DB;
    text-transform: lowercase;
    color: white;
    font-size: 40px;
    width: 244px;
    height: 141px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 198px;
}

#professional-challenges {
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: #000000;
    color: white;
    border-bottom: solid 2px #33A8DB;
    padding: 100px 20% 80px 20%;
}

footer {
    align-items: center;
    justify-items: center;
    height: 140px;
    padding-top: 59px;
    color: white;
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #000000 85%, #184F67 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #000000 85%, #184F67 100%);
    background: linear-gradient(to bottom, #000000 0%, #000000 85%, #184F67 100%);
}
footer p {
    margin: 0 0 0 0;
}
footer a {
    text-decoration: none;
    color: #33A8DB;
}